.btn {
  color: var(--nav-text-color);
  font-weight: 500;
  padding: 12px 20px;
  background-color: var(--second-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: var(--nav-hover-color);
    color: var(--nav-text-color);
  }
  > i {
    margin-left: 10px;
  }
}
